useDynLib(mskf)

export(mskf, mskfModel, mskfModelSkeleton, as.mskfModel, sim.msar)

S3method(plot, mskfModel)
S3method(print, mskfModel)
S3method(coef, mskfModel)
#S3method(simulate, mskf.model)
S3method(print, mskfSkeleton)
